{% if comment != None %}
  <div class="article-metadata">
    <p>
      <strong><b>{{ comment.author }}</b> | {{ comment.date_posted|date:"F d, Y" }}</strong>
    </p>
    <span>{{ comment.body }}</span>
  </div>
{% else %}
  <p>Comment Successfully Deleted!</p>
{% endif %}
<!-- <span>{{object.title}}</span> -->
{% if comment.author == user %}
  <div>
    <button class="small btn-secondary"
            hx-get="{% url 'comment-edit' pk=comment.id recipe_id=comment.recipe.id %}"
            hx-target="#comment_details_{{ comment.id }}">
      Edit
    </button>
    <button class="small btn-danger"
            hx-get="{% url 'comment-delete' pk=comment.id recipe_id=comment.recipe.id %}"
            hx-target="#comment_details_{{ comment.id }}">
      Delete
    </button>
  {% endif %}
</div>
