{% extends "recipy/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <style>.hidden{display:none}</style>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    New Recipe
                </legend>
                {{ form|crispy }}
            </fieldset>
            <h4>Ingredients</h4>
            {% if ingredient_form %}
                <div id='ingredient-form-list'>
                    {{ ingredient_form.management_form }}
                    {% for form in ingredient_form %}
                        <div class='ingredient-form'>
                            {{ form }}
                            {% comment %} <button class="btn btn-danger btn-sm btn-circle" type="button">X</button> {% endcomment %}
                        </div>
                    {% endfor %}
                </div>
                <div id="empty-form" class="hidden">
                    {{ ingredient_form.empty_form }}
                    {% comment %} <button class="btn btn-danger btn-sm btn-circle" type="button">X</button> {% endcomment %}
                </div>
                <button id="add-more" class="btn btn-primary btn-sm" type="button">+ Ingredient</button>
            {% endif %}
            <div class="form-group">
                <br>
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    {% load static %}
    <script src="{% static 'recipy/js/script.js' %}"></script>
{% endblock content %}
