{% extends "recipy/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-recipe' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                           href="{% url 'recipe-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1"
                           href="{% url 'recipe-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">
                {{ object.title }}
                {% if fav %}
                    <a href="{% url 'favorite-add' object.id %}"
                       class="btn btn-outline-secondary btn-sm mt-1 mb-1 float-right">Remove from Favorites</a>
                {% else %}
                    <a href="{% url 'favorite-add' object.id %}"
                       class="btn btn-outline-secondary btn-sm mt-1 mb-1 float-right">Add to Favorites</a>
                {% endif %}
            </h2>
            {% if not object.image_url %}
                <img src="{{ object.image.url }}" class="img-responsive">
            {% else %}
                <img src="{{ object.image_url }}" class="img-responsive">
            {% endif %}
            <h2 class="article-title">Description</h2>
            <hr/>
            <p class="article-content">{{ object.description }}</p>
            <h2 class="article-title">Ingredients</h2>
            <hr/>
            <table class="table">
                <tbody>
                    {% for ingredient in object.ingredients.all %}
                        <tr>
                            <td>{{ ingredient.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2 class="article-title">Instructions</h2>
            <hr/>
            <p class="article-content">{{ object.instructions }}</p>
        </div>
    </article>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="content-section">
            <p>
                <a href="{% url 'login' %}">Login</a> to comment
            </p>
        </div>
    {% endif %}
    {% if not recipe.comments.all %}
        <p>No Comments Yet</p>
    {% else %}
        {% for comment in object.comments.all %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <strong ><b>{{ comment.author }}</b> | {{ comment.date_posted|date:"F d, Y" }}</strong>
                    </div>
                    {{ comment.body }}
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}
